body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 25px; /* El tama침o de la fuente principal en el tag <p></p> */
    background-color: #10f7e7; /* El color del fondo de la p치gina web */
    color: #ffffff; /* El color del texto*/ 
}
h1 {
    color: #ffffff; /* El color de la cabecera */
    font-size: 50pt; /* El tama침o de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipogr치fica utilizada en la cabecera */
}