body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #10f7e7; /* El color del fondo de la página web */
    color: #ffffff; /* El color del texto*/ 
}
h1 {
    color: #ffffff; /* El color de la cabecera */
    font-size: 25pt; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}